<section class="content">
    <div id="dvLoader" class="LoadingDiv" style="display: none;">
        <center>
            <img src="~/Content/img/ajax-loader.gif" alt="Loading" />
        </center>
    </div>
    <div class="row">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">User Info</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#firstTab">Index</a></li>
                    <li><a data-toggle="tab" href="#secondTab">Add New</a></li>
                </ul>
                <div class="tab-content">
                    <div id="firstTab" class="tab-pane fade in active">@Html.Action("Users")</div>
                    <div id="secondTab" class="tab-pane fade in">@Html.Action("AddUser")</div>
                </div>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.col -->

    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#btnSave').click(function () {
                var name = $('#txtName').val();
                var email = $('#txtEmail').val();
                var password = $('#txtPassword').val();
                var role = $('#userRole').val();
                $('#dvLoader').show();
                $.ajax({
                    url: "/GlobalData/AddUser",
                    type: "POST",
                    data: JSON.stringify({
                        "Name": name,
                        "EmailAddress": email,
                        "Password": password,
                        "UserRole":role
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        //alert(result);
                        $('#dvLoader').hide();
                        Clear();
                    }
                });

            });
            //end add new buyer

            $('#btnClear').click(function () {
                Clear();
            });
        });
        function Clear() {
            $('#txtName').val('');
            $('#txtEmail').val('');
            $('#txtPassword').val('');
            $('#userRole').val('');
        }

        function Delete(id) {
            //alert(id);
            var ans = confirm("Are you sure want to delete this record test");
            if (ans) {
                $('#dvLoader').show();
                $.ajax({
                    url: "",
                    type: "POST",
                    data: JSON.stringify({
                        "id": id
                    }),
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function () {
                        $('#firstTab').reload();
                        $('#dvLoader').hide();
                    },
                });
            }
        }
    </script>
}