@{
                /**/

                Layout = null;
}
<section class="content-header">
    <h1>
        Add Company
        <small>adding new company information</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#" )"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div id="dvLoader" class="LoadingDiv" style="display: none;margin-top:150px;">
        <center>
            <img src="~/Content/img/ajax-loader.gif" alt="Loading" />
        </center>
    </div>
    <div class="row">
        <div class="box">
            <div class="box-body">
                <div class="col-md-6 col-sm-8">
                    <div class="form-group">
                        <label class="col-form-label">Company Name</label>
                        <input id="txtName" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Buyer Name</label>
                        <input id="txtBuyer" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Contact Person</label>
                        <input id="person" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Mobile Num.</label>
                        <input id="mobile" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Address</label>
                        <textarea class="form-control" id="address"></textarea>
                    </div>
                    <div class="form-group">
                        <button id="btnSave" type="submit" value="submit" class="btn btn-info">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
    </script>
}