<section class="content">
    <div id="dvLoader" class="LoadingDiv" style="display: none;">
        <center>
            <img src="~/Content/img/ajax-loader.gif" alt="Loading" />
        </center>
    </div>
    <div class="row">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Product Info</h3>
            </div>
            <div class="box-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#firstTab">Index</a></li>
                    <li><a data-toggle="tab" href="#secondTab">Add New</a></li>
                </ul>
                <div class="tab-content">
                    <div id="firstTab" class="tab-pane fade in active">@Html.Action("Products")</div>
                    <div id="secondTab" class="tab-pane fade in">@Html.Action("AddProduct")</div>
                </div>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.col -->

    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#btnSave').click(function () {
                var name = $('#txtName').val();
                var des = $('#description').val();
                $('#dvLoader').show();
                $.ajax({
                    url: "/PermessData/AddProduct",
                    type: "POST",
                    data: JSON.stringify({
                        "ProductName": name,
                        "Description": des
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        //alert(result);
                        $('#dvLoader').hide();
                        Clear();
                    }
                });

            });
        });
        function Clear() {
            $('#txtName').val('');
            $('#description').val('');
        }
    </script>
}